@font-face {
  font-family: 'Neue Regular';
  src: url("neueregular.ttf") format("truetype");
}

@font-face {
  font-family: 'Neue Bold';
  src: url("neuebold.ttf") format("truetype");
}

@font-face {
  font-family: 'Neue Medium';
  src: url("neuemedium.ttf") format("truetype");
}

html {
  height: 100%;
  min-width: 100%;
  font-family: Neue Regular, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  height: 100%;
  min-width: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25vw 5vw auto;
      grid-template-columns: 25vw 5vw auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "filters . portfolios";
  grid-auto-flow: column;
  font-family: Neue Regular, sans-serif;
  padding: 0;
}

#nav-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: filters;
  background-color: #FAFAFA;
  border-right: 1px solid #cfcfcf;
}

#filters-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: filters;
  background-color: #FAFAFA;
  border-right: 1px solid #cfcfcf;
}

#portfolio-section {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: portfolios;
  width: 100%;
  padding-top: 20px;
}

.portfolio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 50px;
  padding-bottom: 6vh;
  border-bottom: 1px solid #cfcfcf;
}

/* Portfolio component */

.pfp {
  width: 64px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  padding: 0 20px;
}

.info .name {
  font-size: 24px;
  color: #222222;
  padding-top: 3px;
  font-family: Neue Bold;
}

.info .bio {
  padding-top: 5px;
}

.info .chip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info .chips {
  padding: 5px 8px 5px 0;
  margin-bottom: 5px;
}

.info .chip {
  background-color: #f4f4f4;
  padding: 5px;
  border-radius: 8px;
  white-space: nowrap;
}

.photo-holder {
  width: 260px;
  height: 180px;
  border-radius: 8px;
  margin: 0 10px;
}

.photo-holder img {
  padding: 0;
  width: 100%;
  height: 100%;
}

.photo-holder .view-portfolio {
  color: #F76902;
  font-family: Neue Bold;
  float: right;
  padding: 15px;
  font-size: 16px;
}

.photo-holder .view-portfolio:hover {
  color: #222222;
  text-decoration: none;
}

/* Portfolio Mobile Styles */


/* Filtering component */
.title {
    font-size: 32px;
    color: #222222;
    padding-top: 3px;
    font-family: Neue Bold;
    margin-left: 10px;
    margin-top: 30px;
    font-weight: 900;
}

.categories {
    background-color: white;
    color: black;
    border: none;
    font-size: 18px;
    margin: .5rem;
}

.refine {
     font-size: 16px;
    color: #222222;
    padding-top: 3px;
    font-family: Neue Bold;
    margin-left: 10px;
    margin-top: 30px;
    font-weight: 900;
}


/* Filtering Mobile Styles */


/*# sourceMappingURL=styles.css.map */