@font-face {
    font-family: 'Neue Regular';
    src: url('neueregular.ttf') format('truetype');
}
  @font-face {
    font-family: 'Neue Bold';
    src: url('neuebold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Neue Medium';
    src: url('neuemedium.ttf') format('truetype');
  }
  
  $primary-font: Neue Regular, sans-serif;

html {
    height: 100%;
    font-family: Neue Regular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25vw 5vw auto;
    grid-template-rows: auto;
    grid-template-areas:
        "filters . portfolios";
    grid-auto-flow: column;
    font-family: $primary-font;
}

#filters-container {
    grid-area: filters;
    background-color: gray;
}

#portfolio-section {
    grid-area: portfolios;
    width: 100%;
}

.portfolio-content {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 6vh;
    border-bottom: 1px solid #cfcfcf;
}

//profile picture styles
.pfp {
    width: 64px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 0 20px;

    .name {
        color: #222222;
        padding-top: 3px;
        font-family: Neue Bold;
    }

    .bio {
        padding-top: 5px;
    }

    //Container for all of the chips
    .chip-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    //div around the spans of chips
    //used for padding and margins
    .chips{
        padding: 5px 8px 5px 0;
        margin-bottom: 5px;
    }

    .chip {
        background-color: #f4f4f4;
        padding: 5px;
        border-radius: 8px;
        white-space: nowrap;
    }
}

//Container div around portfolio pictures
.photo-holder {
    width: 260px;
    height: 180px;
    border-radius: 8px;
    margin: 0 10px;

    img {
        padding: 0;
    }

    .view-portfolio {
        color:#F76902;
        font-family: Neue Bold;
        float: right;
        padding: 15px;
        font-size: 16px;
    }
    .view-portfolio:hover {
        color: #222222;
        text-decoration: none;
      }
      
}
