@font-face {
    font-family: 'Neue Regular';
    src: url('neueregular.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Bold';
    src: url('neuebold.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Medium';
    src: url('neuemedium.ttf') format('truetype');
}

$primary-font: Neue Regular,
sans-serif;
$border: 1px solid #cfcfcf;

html {
    height: 100%;
    min-width: 100%;
    font-family: Neue Regular, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    height: 100%;
    min-width: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25vw 5vw auto;
    grid-template-rows: auto;
    grid-template-areas:
        "filters . portfolios";
    grid-auto-flow: column;
    font-family: $primary-font;
    padding: 0;
}

#filters-container {
    grid-area: filters;
    background-color: #FAFAFA;
    border-right: $border;
    padding: 2vw;
}

#portfolio-section {
    grid-area: portfolios;
    width: 100%;
    padding-top: 20px;
}

.portfolio-content {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 6vh;
    border-bottom: $border;
}

//profile picture styles
.pfp {
    width: 64px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 0 20px;

    .name {
        font-size: 24px;
        color: #222222;
        padding-top: 3px;
        font-family: Neue Bold;
    }

    .bio {
        padding-top: 5px;
    }

    //Container for all of the chips
    .chip-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    //div around the spans of chips
    //used for padding and margins
    .chips {
        padding: 5px 8px 5px 0;
        margin-bottom: 5px;
    }

    .chip {
        background-color: #f4f4f4;
        padding: 5px;
        border-radius: 8px;
        white-space: nowrap;
    }
}

//Container div around portfolio pictures
.photo-holder {
    width: 260px;
    height: 180px;
    border-radius: 8px;
    margin: 0 10px;

    img {
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .view-portfolio {
        color: #F76902;
        font-family: Neue Bold;
        float: right;
        margin: 15px;
        font-size: 16px;
    }

    .view-portfolio:hover {
        color: #222222;
        text-decoration: none;
    }

}

/* Portfolio Mobile Styles */


/* Filtering component */
.title {
    font-size: 32px;
    color: #222222;
    padding-top: 3px;
    font-family: Neue Bold;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: 900;
}

.categories {
    margin: 15px;
    width: 100%;
}

.refine {
    font-size: 16px;
    color: #222222;
    font-family: Neue Bold;
    border-bottom: $border;
    padding-bottom: 15px;
    margin-left: 28px;
    margin-top: 30px;
    width: 75%;
    font-weight: bold;
}

.searchterm {
    border-radius: 50px;
    border: solid 1px grey;
    margin: 20px 10px 10px 10px;
    padding-left: 27px;
    font-size: 13px;
    width: 18vw;
    height: 42px;
}

.dropdown-menu {
    color: #fafafa;
    border: 1px solid #fafafa;
    color: black;
}

#search-categories-container{
    margin-bottom: 200px;
}

.add-portfolio {
    color: #F76902;
    font-family: Neue Bold;
    font-size: 16px;
}

.add-portfolio:hover {
    color: #222222;
    text-decoration: none;
}

/* Filtering Mobile Styles */


/*# sourceMappingURL=styles.css.map */