<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="sass/styles.css">

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-navigation-bar@1.0.0/dist/vue-navigation-bar.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous">
    </script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/vue-navigation-bar@1.0.0/dist/vue-navigation-bar.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
      <!--Link for Font awesome icons-->  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

    
    <title>RIT Portfolios - Rework</title>

</head>

<body>
    
<b-container id="root" fluid>
    
        <div id="filters-container">
            <!--Insert filter menu here-->
            <div id="search-categories-container" v-for="sidebar in sidebars">
                <portfolio-sidebar :title="sidebar.title"></portfolio-sidebar>
            </div>
            <a class="add-portfolio" href="#">+ Add Portfolio</a>
        </div>
    
        <div id="portfolio-section">
            <div v-for="portfolio in portfolios">
                <portfolio-slat :pfp="portfolio.pfp" :major="portfolio.major" :name="portfolio.name" :blurb="portfolio.blurb" :chips="portfolio.chips" :photo1="portfolio.photo1" :photo2="portfolio.photo2" :link="portfolio.link"></portfolio-slat>
            </div>
        </div>
        <!--demo-->
    </b-container>

    <!--Add a portfolio WIP-->
    <b-container id="add-portfolio" fluid>
        <div>
            <b-form @submit="addPortfolio">
                <b-form-group id="input-group-1" label="Year and Major :" label-for="input-1">
                    <b-form-input id="input-1" v-model="major" required
                        placeholder="Enter with the format '[number] year [Major] (BFA, BS, etc.)'"></b-form-input>
                    <b-button type="submit" variant="primary">Submit</b-button>
                </b-form-group>
            </b-form>
        </div>
    </b-container>

    <!---scripts-->
    <script src="scripts/components.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>